#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}
.bg-custom-gradient {
  background: linear-gradient(
    to bottom,
    #000000 -20%,
    #063872 50%,
    #000000 120%
  );
}
.bg-custom-gradient-navigation {
  background: linear-gradient(
    to bottom,
    #000000 0%,   /* Start with black at the top */
    #000f1f 60%,  /* Black continues till 50% */
    #011a39 120%  /* Blue gradually blends in from 50% to 100% */
  );
}

/* HTML: <div class="loader"></div> */
.loader {
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#16ff6b 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#2bf402);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
